{% extends "toolkit/base.html" %}

{% block content %}
{% load static %}
<html>
<title>
    {% block title %}
        F5 BIG IP RCE - RedTeam Toolkit
    {% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="{% static "toolkit/css/single_input.css" %}" media="all" />

<body>
<div class="wrapper">
	<div class="container">
		<h1>F5 BIG IP RCE</h1>
        <h5>[ CVE-2022-1388 ]</h5>
		<form class="form" method="POST">
            {% csrf_token %}
			<input type="text" name="target" placeholder="Target IP">
            <input type="text" name="command" placeholder="Command">
			<button type="submit" id="login-button">Start</button>
		</form>
        {% if result %}
            <h4>{{ result.message }}</h4>
        {% else %}
            <h3> {{ error }} </h3>
        {% endif %}
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>


<script>
     $("#login-button").click(function(event){
		 event.preventDefault();

	 $('small').fadeOut(500);
	 $('.wrapper').addClass('form-success');
});
</script>
</body>
</html>
{% endblock %}