{% extends "toolkit/base.html" %}

{% block content %}
{% load static %}
<title>
    {% block title %}
        WebApplications - RedTeam Toolkit
    {% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="{% static "toolkit/css/webapp_menu.css" %}" media="all"/>
<link rel="stylesheet" type="text/css" href="{% static "toolkit/css/dashboard.css" %}" media="all" />
<body>
<br><br><br>
<br><br><br>
<div class="row">
  <div class="col">
    <h2>Web Application Section <sup>1.0</sup></h2>
    <div class="tabs">
      <div class="tab">
        <input  id="chck1">
        <label class="tab-label" for="chck1">
            <a href="{% url 'verbtamper' %}"><p class="w3-medium scans" style="position:relative;">
                HTTP Verb Tampering
            </p></a></label>
      </div>
    </div>
<!--        <div class="tab-content">
            <a href="{% url 'verbtamper' %}"><p class="w3-medium scans" style="position:relative;">
                <span class="w3-hide-small ">
                    <b>HTTP Verb Tampering</b> tests the web application's response to different HTTP methods accessing system objects.
                </span></p></a>-->
    <div class="tabs">
      <div class="tab">
        <input  id="chck1">
        <label class="tab-label" for="chck1">
            <a href="{% url 'webcrawler' %}"><p class="w3-medium scans" style="position:relative;">
                Web Crawler for gathering URLs
            </p></a></label>
      </div>
    </div>

    <div class="tabs">
      <div class="tab">
        <input  id="chck1">
        <label class="tab-label" for="chck1">
            <a href="{% url 'subdomain' %}"><p class="w3-medium scans" style="position:relative;">
                Enumerate Subdomains
            </p></a></label>
      </div>
    </div>

      <div class="tabs">
      <div class="tab">
        <input  id="chck1">
        <label class="tab-label" for="chck1">
            <a href="{% url 'apache_cve_41773' %}"><p class="w3-medium scans" style="position:relative;">
                Apache Path Traversal [ CVE-2021-41773 ]
            </p></a></label>
      </div>
    </div>

      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">Other</label>
        <div class="tab-content"><p class="w3-medium scans" style="position:relative;">
          Under Maintenance</p></a>
        </div>
      </div>

    </div>
  </div>
</div>
</html>
{% endblock %}