{% extends "toolkit/base.html" %}

{% block content %}
{% load static %}
<head>
<title>
    {% block title %}
        HTTP-VerbTampering - RedTeam Toolkit
    {% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="{% static "toolkit/css/searchbar.css" %}" media="all"/>
<link rel="stylesheet" type="text/css" href="{% static "toolkit/css/verbtampertable.css" %}" media="all" />
</head>
<style>
h2{
  font-size: 15px;
  color: #fa2c2c;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
</style>
<body>

<br><br><br><br>
<h1>HTTP Verb-tampering</h1>
<form autocomplete='off' class='form webdesigntuts-workshop' method="POST">
 {% csrf_token %}
    	<input name="target_url" type="text" placeholder="ENTER URL: https://example.com">
    	<button type='submit'>Search</button>
</form>
{% if error %}
    <h2 style="text-align:center">{{ error }}</h2>
{% endif %}
{% if result %}
<section>
  <!--for demo wrap-->
<!--  <h5>{{ target_url }}</h5> -->
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Method</th>
          <th>Status Code</th>
          <th>Length</th>
          <th>Reason</th>
        </tr>
      </thead>
    </table>
  </div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
{% for method, values in result %}
          <td>{{method}}</td>
          <td>{{values.status_code}}</td>
          <td>{{values.length}}</td>
          <td>{{values.reason}}</td>
            </tr>
      </tbody>
{% endfor %}
    </table>
  </div>
</section>
{% endif %}
</body>

<!-- <div class="made-with-love">
  Made By
  <i>♥</i> by
  <a target="_blank" href="https://github.com/signorrayan">Signor</a>
</div> -->
</html>
{% endblock %}