{% extends "toolkit/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "toolkit/css/dashboard.css" %}" media="all">

<title>
    {% block title %}
        Dashboard - RedTeam Toolkit
    {% endblock %}
</title>
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center ">
  <!-- Avatar image in top left corner --><br><br>
  <img src="{% static 'toolkit/images/sidebar_logo.png' %}" style="width:90% "><br><br><br>
    <i class="w3-bar-item w3-padding-large">Version 0.1.3</i>

{% if user.is_authenticated %}
<a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <!--  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a> -->
  <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-solid fa-grip-horizontal w3-xxlarge"></i>
    <p>Dashboard</p>
  </a>


  <form method="POST" action="{% url 'logoutuser' %}" >
   {% csrf_token %}
      <button type='submit' class="form w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-solid fa-lock w3-xxlarge"></i>
      LOGOUT</button>
    </form><br><br>
 <i class="w3-bar-item w3-padding-Large">LoggedIn As <b> [{{ user.username }}]</b></i>

{% else %}
     {% if error %}
     <div class="alert alert-danger" role="alert">
         {{ error }}
     </div>
 {% endif %}
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="{% url 'loginuser' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    {% csrf_token %}
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>LOGIN</p>
  </a>
{% endif %}
</nav>

<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">[ RED-TEAM TOOLKIT ]</span></h1>
    <p></p>
<br><br><br><br><br><br>

<div class="side-block w3-center">
    <a href="{% url 'fullscan' %}">
        <img src="{% static 'toolkit/images/ip_scan.png' %}"  class="scans" width="85" height="60">
    </a>
    <a href="{% url 'livehost' %}">
        <img src="{% static 'toolkit/images/live_host.png' %}"  class="scans" width="85" height="85">
    </a>
    <a href="{% url 'dirscan' %}">
        <img src="{% static 'toolkit/images/dir_scan.png' %}" class="scans" width="85" height="85">
    </a>
    <a href="{% url 'cvedes' %}">
        <img src="{% static 'toolkit/images/cve.png' %}"  class="scans" width="120" height="120">
    </a>
</div>
</div>
<div class="side-block w3-center" >
    <a href="{% url 'fullscan' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:77px; top:-40px;"><span class="w3-hide-small">Full</span> Scan</p></a>
    <a href="{% url 'livehost' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:65px; top:-40px;"><span class="w3-hide-small">Live Hosts</span> Scan</p></a>
    <a href="{% url 'dirscan' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:50px; top:-40px;"><span class="w3-hide-small ">Dir</span> Scan</p></a>
    <a href="{% url 'cvedes' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:60px; top:-40px;"><span class="w3-hide-small ">CVE</span> Description</p></a>
</div><br><br><br><br>
<div class="side-block w3-center">
    <a href="{% url 'sshbruteforce' %}">
        <img src="{% static 'toolkit/images/ssh_brute.png' %}" class="scans" style="position: relative;left:40px;" width="85" height="85">
    </a>
     <a href="{% url 'rdpbruteforce' %}">
        <img src="{% static 'toolkit/images/rdp-brute.png' %}"  class="scans" style="position: relative;left:40px;" width="85" height="85">
    </a>
     <a href="{% url 'linux' %}">
        <img src="{% static 'toolkit/images/linux.png' %}"  class="scans" style="position: relative;left:40px;" width="85" height="90">
    </a>
     <a href="{% url 'windows' %}">
        <img src="{% static 'toolkit/images/microsoft.png' %}"  class="scans" style="position: relative;left:50px;" width="85" height="85">
    </a>
</div>
<div class="side-block w3-center" >
    <a href="{% url 'sshbruteforce' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:100px; top:10px;"><span class="w3-hide-small ">SSH</span> Dictionary Attack</p></a>
    <a href="{% url 'rdpbruteforce' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:35px; top:10px;"><span class="w3-hide-small ">RDP</span> Bruteforce</p></a>
    <a href="{% url 'linux' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:0px; top:10px;"><span class="w3-hide-small ">Linux</span> Section</p></a>
    <a href="{% url 'nightmare' %}" target="_blank"><p class="w3-medium scans" style="position:relative;left:-30px; top:10px;"><span class="w3-hide-small ">Windows</span> Section</p></a>
</div><br><br><br><br><br>
<div class="side-block w3-center">
    <a href="{% url 'webapp' %}">
        <img src="{% static 'toolkit/images/webapp.png' %}"  class="scans" style="position:relative;right: 310px" width="85" height="85">
    </a>
</div>
<div class="side-block w3-center" >
    <a href="{% url 'webapp' %}" target="_blank"><p class="w3-medium scans" style="position:relative;top:15px; right: 310px"><span class="w3-hide-small ">WEB</span> Application</p></a>
</div>
</header>


<script src="{% static 'toolkit/js/jquery-2.1.0.min.js'%}"></script>
<!-- Plugins -->
<script src="{% static 'toolkit/js/scrollreveal.min.js'%}"></script>
<!-- Global Init -->
<script src="{% static 'toolkit/js/custom.js' %}"></script>

{% endblock %}