{% extends "toolkit/base.html" %}

{% block content %}
<head>
    <title>
    {% block title %}
        DirScan stream - RedTeam Toolkit
    {% endblock %}
    </title>
{% load static %}
</head>
<script>
    var eventsource = new EventSource("{% url 'stream'%}")
    eventsource.onopen = function(){
        console.log("Connection opened");
    }
    eventsource.onmessage = function () {
        console.log(e);
    }
    eventsource.onerror = function (){
        console.log('error:')
    }
</script>

{% endblock %}