asgiref==3.4.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
dirsearch==0.4.2
Django==3.2.6
fpdf==1.7.2
google==3.0.0
greenlet==1.1.0
humanize==3.11.0
idna==3.2
MarkupSafe==2.0.1
paramiko==2.7.2
proxy-db==0.3.1
psycopg2-binary==2.9.1
pycparser==2.20
PyNaCl==1.4.0
PySocks==1.7.1
python-decouple==3.4
pytz==2021.1
requests==2.26.0
requests-mock==1.9.3
shreder @ git+https://github.com/EntySec/Shreder
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.22
sqlparse==0.4.2
urllib3==1.26.6
