{% extends "toolkit/base.html" %}

{% block content %}
{% load static %}
<!DOCTYPE html>

<title>
    {% block title %}
        RDP-Bruteforce - RedTeam Toolkit
    {% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="{% static "toolkit/css/sshrdp.css" %}" media="all" />

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

<body class="align">
  <div class="grid">
      <p class="form" >RDP Bruteforce</p>
    <form method="POST" class="form login">
      {% csrf_token %}
      <div class="form__field">
          </svg><span class="hidden">Ip</span></label>
        <input  type="text" name="ip" class="form__input" placeholder="IP" required>
      </div>

      <div class="form__field">
        <input type="submit" value="Start">
      </div>

    </form>
{% if result %}
    <div class="text--center">
    <p><b>Target:</b> {{ result.target_ip }}</p>
    <p><b>Username:</b> {{ result.username }}</p>
    <p><b>Password:</b> {{ result.password }}</p>
    </div>
{% elif error %}
     <br><div class="text--center" role="alert">
         <h5>{{ error }}</h5>
     </div>
 {% endif %}

  </div>


{% endblock %}