@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
	margin-left: -15px;
	color: #2c3e50;
	background: -webkit-linear-gradient(left, #25c481, #25b7c4);
	background: linear-gradient(to right, #0c0c0c, #484949);
  	font-family: 'Roboto', sans-serif;
	padding: 0 1em 1em;
}
section{
  margin-left: 300px;
  margin-right: 200px;
}

h1 {
	line-height: 2;
	text-align: center;
}

h2 {
	margin: 0 0 .5em;
	margin-left: 200px;
	font-weight: normal;
}

input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.row {
	display: flex;
}

.row .col {
	flex: 1;
}

.row .col:last-child {
	margin-left: 1em;
}

/* Accordion styles */
.tabs {
	border-radius: 8px;
	overflow: hidden;
}

.tab {
	width: 50%;
	margin-left: 200px;
	color: white;
	overflow: hidden;
}

.tab-label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background: #2c3e50;
	font-weight: bold;
	cursor: pointer;
    /* Icon */;
}

.tab-label:hover {
	background: #1a242f;
}

.tab-label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	transition: all .35s;
}

.tab-content {
	max-height: 0;
	padding: 0 1em;
	color: #2c3e50;
	background: white;
	transition: all .35s;
}

.tab-close {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	background: #2c3e50;
	cursor: pointer;
}

.tab-close:hover {
	background: #1a242f;
}

input:checked + .tab-label {
	background: #1a242f;
}

input:checked + .tab-label::after {
	transform: rotate(90deg);
}

input:checked ~ .tab-content {
	max-height: 100vh;
	padding: 1em;
}

