body {
	color: #2c3e50;
	background: #ecf0f1;
	padding: 0 1em 1em;
}

h1 {
	margin: 0;
	line-height: 2;
	text-align: center;
}

h2 {
	margin: 0 0 .5em;
	margin-left: 200px;
	font-weight: normal;
}

input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.row {
	display: flex;
}

.row .col {
	flex: 1;
}

.row .col:last-child {
	margin-left: 1em;
}

/* Accordion styles */
.tabs {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
	width: 50%;
	margin-left: 200px;
	color: white;
	overflow: hidden;
}

.tab-label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background: #2c3e50;
	font-weight: bold;
	cursor: pointer;
    /* Icon */;
}

.tab-label:hover {
	background: #1a242f;
}

.tab-label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	transition: all .35s;
}

.tab-content {
	max-height: 0;
	padding: 0 1em;
	color: #2c3e50;
	background: white;
	transition: all .35s;
}

.tab-close {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	background: #2c3e50;
	cursor: pointer;
}

.tab-close:hover {
	background: #1a242f;
}

input:checked + .tab-label {
	background: #1a242f;
}

input:checked + .tab-label::after {
	transform: rotate(90deg);
}

input:checked ~ .tab-content {
	max-height: 100vh;
	padding: 1em;
}